{% load i18n %}
<button class="btn btn-danger btn-sm float-right" id="delete-selected" style="margin-left: 5px;" disabled>
    <i class="fa fa-remove margin-r-5"></i>
    {% trans 'delete selected'|capfirst %}
</button>
{% if cl.opts.model_name == 'announcement' or cl.opts.model_name == 'event' %}
    <button class="btn btn-success btn-sm float-right margin-l-5" id="reinsert-item" disabled>
        <i class="fa fa-refresh margin-r-5"></i>
        {% trans 're-upload'|capfirst %}
    </button>
{% endif %}