{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list custom_filters %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}"/>
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    {% if cl.formset.errors %}
        <p class="errornote">
            {% if cl.formset.total_error_count == 1 %}
                {% trans "Please correct the error below." %}
            {% else %}
                {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    {% block search %}{% search_form cl %}{% endblock %}
                    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
                </div>
                <div class="col-md-6">
                    {% block object-tools %}
                        {% block object-tools-items %}
                            {% url cl.opts|admin_urlname:'add' as add_url %}
                            <div class="row margin-bottom">
                                <div class="col-md-12">
                                    {% if action_form and actions_on_top and cl.show_admin_actions %}
                                        {% admin_actions %}
                                    {% endif %}
                                    {% if has_add_permission %}
                                        <a href="{% add_preserved_filters add_url is_popup to_field %}"
                                           class="btn bg-blue btn-sm float-right margin-r-5" style="color: white">
                                            <i class="fa fa-plus margin-r-5"></i>
                                            {% blocktrans with cl.opts.verbose_name as name %}Add
                                                {{ name }}{% endblocktrans %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 25px;">
                    <form id="changelist-form" method="post"{% if cl.formset.is_multipart %}
                          enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                        <div class="actions margin-bottom" hidden>
                            {% block actions %}
                                {% block actions-form %}
                                    {% for field in action_form %}{% if field.label %}<label>
                                        {{ field.label }} {% endif %}{{ field }}
                                    {% if field.label %}</label>{% endif %}{% endfor %}
                                {% endblock %}
                                {% block actions-submit %}
                                    <button type="submit" class="btn bg-blue btn-sm"
                                            title="{% trans "Run the selected action" %}" name="index"
                                            value="{{ action_index|default:0 }}">{% trans "execute"|capfirst %}</button>
                                {% endblock %}
                            {% endblock %}
                        </div>
                        {% if cl.formset %}
                            <div>{{ cl.formset.management_form }}</div>
                        {% endif %}

                        {% block result_list %}
                            {% with request as request %}
                                {% result_list cl %}
                            {% endwith %}
                        {% endblock %}
                        {% block pagination %}{% pagination cl %}{% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if cl.has_filters %}
        <div class="modal fade" id="modal-advanced-filters" style="display: none; padding-right: 14px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">
                            <i class="fa fa-filter"></i>
                            {% trans 'advanced filters'|capfirst %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form method="get" id="filter-form" novalidate>
                                {% for spec in cl.filter_specs %}
                                    <div class="col-md-6">
                                        {% admin_list_filter cl spec %}
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {% trans 'close'|capfirst %}
                        </button>
                        {% if cl.params %}
                            <a href="{{ request.path }}" class="btn bg-red pull-left">
                                <i class="fa fa-ban margin-r-5"></i>
                                {% trans 'clear filters'|capfirst %}
                            </a>
                        {% endif %}
                        <button type="button" onclick="filter()" id="btn-filter" class="btn bg-blue">
                            {% trans 'filter'|capfirst %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="modal-delete-confirmation" style="display: none; padding-right: 14px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-filter"></i>
                        {% trans 'confirmation'|capfirst %}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-delete-multiple-confirmation" style="display: none; padding-right: 14px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-filter"></i>
                        {% trans 'confirmation'|capfirst %}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function filter() {
            let $form = $('#filter-form');
            let query_string = '';
            let data = $form.serializeArray();
            let more = false;
            data.forEach(function (e, i) {
                if (e.value.toString()) {
                    if (more) {
                        query_string += '&';
                    } else {
                        query_string += '?';
                    }
                    query_string += e.name + '=' + e.value;
                    more = true;
                }
            });
            window.location.href = '{{ request.path }}' + query_string;
        }

        document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
                let $actions = $('.action-select');
                let $delete_btn = $('#delete-selected');
                let $upload_btn = $('#reinsert-item');
                $actions.change(function () {
                    if ($('.action-select:checked').length > 0) {
                        $delete_btn.prop('disabled', false);
                        $upload_btn.prop('disabled', false);
                    } else {
                        $delete_btn.prop('disabled', true);
                        $upload_btn.prop('disabled', true);
                    }
                });
                $('#action-toggle').change(function () {
                    if ($('.action-select:checked').length > 0) {
                        $delete_btn.prop('disabled', false);
                        $upload_btn.prop('disabled', false);
                    } else {
                        $delete_btn.prop('disabled', true);
                        $upload_btn.prop('disabled', true);
                    }
                });
                $delete_btn.click(function () {
                    $('select[name=action]').val('delete_selected');
                    $('#changelist-form').submit();
                });
                $upload_btn.click(function () {
                    $('select[name=action]').val('reinsert_item');
                    $('#changelist-form').submit();
                });
            }
        }
    </script>
{% endblock %}
