{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
    delete-selected-confirmation{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12" style="padding-right: 25px; padding-left: 25px;">
                    {% if perms_lacking %}
                        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related
                            objects, but your
                            account doesn't have permission to delete the following types of
                            objects:{% endblocktrans %}</p>
                        <ul>
                            {% for obj in perms_lacking %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    {% elif protected %}
                        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following
                            protected
                            related objects:{% endblocktrans %}</p>
                        <ul>
                            {% for obj in protected %}
                                <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the
                            following objects
                            and their related items will be deleted:{% endblocktrans %}</p>
                        {% include "admin/includes/object_delete_summary.html" %}
                        <h2>{% trans "Objects" %}</h2>
                        {% for deletable_object in deletable_objects %}
                            <ul>{{ deletable_object|unordered_list }}</ul>
                        {% endfor %}
                        <form method="post">{% csrf_token %}
                            <div>
                                {% for obj in queryset %}
                                    <input type="hidden" name="{{ action_checkbox_name }}"
                                           value="{{ obj.pk|unlocalize }}">
                                {% endfor %}
                                <input type="hidden" name="action" value="delete_selected">
                                <input type="hidden" name="post" value="yes">
                                <hr>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-12">
                                        <a href="javascript:history.go(-1)" class="btn bg-red pull-right">
                                            <i class="fa fa-ban margin-r-5"></i>
                                            {% trans "Cancel" %}
                                        </a>
                                        <button class="btn bg-blue pull-right margin-r-5">
                                            <i class="fa fa-check margin-r-5"></i>
                                            {% trans "Yes, I'm sure" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
