{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content_header %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </ol>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="text-center text-blue">
        <i class="fa fa-thumbs-o-up margin-bottom" style="font-size: 160px;"></i>
        <hr>
        <h2>{% trans 'Your password was changed.' %}</h2>
    </div>
{% endblock %}
